#nav {
margin-bottom: 16px;
position: sticky; 
top: 0px;
 background-color: #ffffff; 
 z-index: 100;
 min-width: max-content;
}
.nm {
    font-family: 'Lobster', cursive;
    color:#92249c;
}
.nmplus {
padding-bottom: 0px;
}
.ui.secondary.pointing.menu .active.item {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #92249c;
    font-weight: 700;
    color:#92249c;
}
